@using Microsoft.AspNetCore.Identity
@using NewsCoreApp.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/admin-side/images/avatar.png" class="user-image" alt="User Image">
        <span class="hidden-xs">@User.GetSpecificClaim("FullName")</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/admin-side/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            <p>
                @User.GetSpecificClaim("FullName")
                <small>Member since Nov. 2012</small>
            </p>
        </li>        
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                @*<a href="/Admin/Account/Logout" class="btn btn-default btn-flat">Sign out</a>*@
                <form action="/Admin/Account/Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-default btn-flat">Log out</button>
                </form>
            </div>
        </li>
    </ul>
</li>