<div class="box-footer">
    <select id="ddlShowPage">
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
    </select>
    <span class="item-per-page">
        bản ghi/trang.
    </span>
    Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
    <ul id="paginationUL" class="pagination no-margin pull-right"></ul>
</div>