@using NewsCoreApp.Data.Entities
@model List<Video>
@{
    ViewData["Title"] = "Video";
}

@section Styles{
    <style type="text/css">
        .poster-container {
            position: relative;
            display: inline-block;
            margin: 15px;
            width: 180px;
            height: 175px;
            overflow: hidden;
            cursor: pointer;
        }

        .img-thumb {
            width: 180px;
            height: 126px;
            transition: transform .5s, filter 1.5s ease-in-out;
        }

        .img-play-icon {
            position: absolute;
            top: 39%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .poster-container:hover .img-thumb {
            transform: scaleX(1.1);
        }
    </style>
}

@section Scripts{
    <script src="~/lib/lightgallery/dist/js/lightgallery.js"></script>
    <script src="~/lib/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/lib/lightgallery/modules/lg-video.js"></script>
    <script src="~/lib/lightgallery/modules/lg-fullscreen.js"></script>
    <script src="~/lib/lightgallery/modules/lg-thumbnail.js"></script>
    <script src="~/js/controllers/video/index.js"></script>
    <script type="text/javascript">
        var video = new videoController();
        video.initialize();
    </script>
}

<h1>Video</h1>
<div class="row">
    <div id="video-gallery">
        @{
            string videoId = "";
            foreach (var item in Model)
            {
                videoId = item.VideoUrl.Substring(item.VideoUrl.IndexOf('=') + 1);
                <div class='poster-container' data-src='@item.VideoUrl'>
                    <img src='https://img.youtube.com/vi/@videoId/mqdefault.jpg' class='img-thumb'>
                    <img class='img-play-icon' src='/images/play-button.png'>
                    <span>@item.Title</span>
                </div>
            }
        }
    </div>
</div>
