<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm mới - Chỉnh sửa Album</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="0" />
                            <label for="txtTitle" class="col-sm-2 control-label no-padding-right">Tiêu đề</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtTitle" class="form-control" id="txtTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtSortOrder" class="col-sm-2 control-label no-padding-right">Thứ tự</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtSortOrder" class="form-control" id="txtSortOrder">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatus">
                                        <span class="text">Kích hoạt.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success">Lưu thay đổi</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Thoát</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>